<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.SuggestMapper">

    <!--  建议映射 -->
    <resultMap id="suggestResultMapper" type="com.project.model.Suggest">
        <id property="suggestId" column="suggestid"/>
        <result property="suggestTime" column="suggesttime"/>
        <result property="suggestContent" column="suggestcontent"/>
        <association property="user" resultMap="userResultMapper"/>
        <association property="driver" resultMap="driverResultMapper"/>
    </resultMap>
    <!-- 顾客映射 -->
    <resultMap id="userResultMapper" type="com.project.model.User">
        <id property="userId" column="userid"/>
        <result property="userFirstName" column="userfirstname"/>
        <result property="userLastName" column="userlastname"/>
        <result property="userName" column="username"/>
        <result property="userSex" column="usersex"/>
        <result property="userPhone" column="userphone"/>
        <result property="userPassword" column="userpassword"/>
    </resultMap>
    <!-- 司机映射 -->
    <resultMap id="driverResultMapper" type="com.project.model.Driver">
        <id property="driverId" column="driverid"></id>
        <result property="driverFirstName" column="driverfirstName"></result>
        <result property="driverLastName" column="driverlastName"></result>
        <result property="driverName" column="drivername"></result>
        <result property="driverSex" column="driversex"></result>
        <result property="driverPhone" column="driverphone"></result>
        <result property="driverPassword" column="driverpassword"></result>
    </resultMap>

    <!-- 添加建议 -->
    <insert id="insertSuggest" >
        insert into pt_suggest(suggestcontent,userid,driverid)
        value (#{suggestContent},#{user.userId},#{driver.driverId})
    </insert>

    <!-- 删除建议 -->
    <delete id="deleteSuggest">
        DELETE  FROM pt_suggest WHERE suggestId IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- 查询建议 -->
    <select id="findAllSuggest" resultMap="suggestResultMapper">
        select
        pt_suggest.suggestcontent,
        pt_user.userid,
        pt_user.username,
        pt_driver.driverid,
        pt_driver.drivername
        from pt_suggest
        LEFT JOIN  pt_user ON pt_suggest.userid = pt_user.userid
        LEFT JOIN  pt_driver ON pt_suggest.driverid = pt_driver.driverid
        <where>
            <if test="user != null and user !='' and user.userName !=null and user.userName !=''">
                pt_user.username  LIKE concat(concat('%',#{user.userName}),'%')
            </if>
            <if test="driver != null and driver !='' and driver.driverName !=null and driver.driverName !=''">
                AND pt_driver.drivername  LIKE concat(concat('%',#{driver.driverName}),'%')
            </if>
        </where>
    </select>

    <!-- 修改建议 -->
    <update id="updateSuggest" parameterType="com.project.model.Suggest">
        update pt_suggest
        <set>
            <if test="suggestContent != null and suggestContent !=''">
                suggestcontent = #{suggestContent}
            </if>
        </set>
        where suggestid = #{suggestId}
    </update>


</mapper>