<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.mapper.UserMapper">


    <resultMap id="UserInfoMapper" type="com.project.model.User">
        <id property="userId" column="userid"/>
        <result property="userFirstName" column="userfirstname"/>
        <result property="userLastName" column="userlastname"/>
        <result property="userName" column="username"/>
        <result property="userSex" column="usersex"/>
        <result property="userPhone" column="userphone"/>
        <result property="userPassword" column="userpassword"/>
    </resultMap>

    <!--登陆-->
    <select id="userLogin" resultMap="UserInfoMapper">
        SELECT * FROM pt_user
        <where>
            <if test="username != '' and username != null">
                userphone = #{username}
            </if>
            <if test="password != '' and password != null">
                AND userpassword = #{password}
            </if>
        </where>
    </select>

    <!--插入-->
    <insert id="addUser">
        INSERT INTO pt_user(userfirstname,userlastname,username,usersex,userphone,userpassword)
        VALUES
        (#{userFirstName},#{userLastName},#{userName},#{userSex},#{userPhone},#{userPassword})
    </insert>


    <!--查询-->
    <select id="findAllUser" resultMap="UserInfoMapper">
        SELECT * FROM pt_user
        <where>
            <if test="userName != null and userName != ''">
                AND username LIKE concat(concat('%',#{userName}),'%')
            </if>
        </where>
    </select>

    <!--修改-->
    <update id="updateUser">
        UPDATE pt_user
        <set>
            <if test="userFirstName != null and userFirstName != ''">
                userfirstname = #{userFirstName},
            </if>
            <if test="userLastName != null and userLastName != ''">
                userlastname = #{userLastName},
            </if>
            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>
            <if test="userPassword != null and userPassword != ''">
                userpassword = #{userPassword}
            </if>
        </set>
        <where>
            userid = #{userId}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteUser">
        DELETE FROM pt_user WHERE userid =
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

</mapper>